// Accessibility Init
// ==================


// Chrome 44-, iOS 8+, Safari 9+
audio {
  :not([controls]) {
    display: none;
  }
}


// specify the progress cursor of updating elements
[aria-busy='true'] {
  cursor: progress;
}


// specify the pointer cursor of trigger elements
[aria-controls] {
  cursor: pointer;
}


// specify the unstyled cursor of disabled,
// not-editable, or otherwise inoperable elements
[aria-disabled] {
  cursor: default;
}


// Internet Explorer 10-
[hidden] {
  display: none;
}
