// Forms Init
// ==========


button {
  appearance: button; // iOS 8+
  overflow: visible; // Internet Explorer 11-
}

input {
  border-radius: 0; // iOS 8+
  line-height: normal; // Firefox 4+
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button; // iOS 8+
  cursor: pointer;
}

// Address box sizing set to `content-box` in IE 8/9/10.
// Remove excess padding in IE 8/9/10.
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

[type='number'] {
  width: auto; // Firefox 36+
}

[type='search'] {
  appearance: textfield; // Chrome 45+, Safari 9+
}


// Specify the background color of form elements
// Specify the inherited color and font of form elements
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}


// Remove default vertical scrollbar in IE 8/9/10/11.
// Specify the resizability of textareas
textarea {
  overflow: auto;
  resize: vertical;
}
