// Typography Init
// ===============


// Remove the gray background color from active links in IE 10.
// Improve readability of focused elements
// when they are also in an active/hover state.
a {
  background-color: transparent;

  &:active,
  &:hover {
    outline: 0;
  }
}


// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
abbr {
  &[title] {
    border-bottom: 1px dotted;
  }
}


// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
b,
strong {
  font-weight: bold;
}


// specify the font family of code elements
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: inherit;
}


// Address styling not present in Safari and Chrome.
dfn {
  font-style: italic;
}


// Remove list style of nav lists
nav {
  ol,
  ul {
    list-style: none;
  }
}


// All browsers
small {
  font-size: 0.75em;
}


// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
